/*ventana emergente de inicio de sesión*/

.emer {
    background: var(--color-secondary-hover);
    width: 30%;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 35%;
    right: 35%;
    top: 15%;
    display: none;
  }
  #cerrar {
    position: absolute;
    right: 10px;
    top: 2px;
  }
  .emer .colum > a {
    color: var(--color-blanco);
    text-decoration: none;
  }
  
  
  input {
    display: block;
    padding: 10px;
    width: 70%;
    margin: 30px;
  }
  
  /*registro*/
  .emer-registro {
    background: var(--color-secondary-hover);
    width: 30%;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 35%;
    right: 35%;
    top: 15%;
    display: none;
  }
  #new_cuenta {
    margin-left: 20px;
  }
  .emer-registro .colum > a {
    color: #f2f2f2;
    text-decoration: none;
  }
  
  .info {
    background: #f2f2f2;
  }
  
  .info-personal {
    display: flex;
  }
  
  .contra {
    display: flex;
    background: #f2f2f2;
  }
  /*inicio y registro*/
.ini {
    padding: 10px 15px;
    margin: 30px;
    color: rgb(250, 250, 250);
    background: #7278f7;
    border-radius: 20px;
  }
  .botones-re a {
    padding: 10px 15px;
    margin: 30px;
    color: rgb(250, 250, 250);
    background: #7278f7;
    border-radius: 15px;
  }