/* seccion Leeve las fotos*/

.Leeve {
    background: #f2f2f2;
  }
  
  .Leeve__grid {
    display: grid;
    height: 550px;
    grid-template-areas:
      "Comida Habitaciones"
      "Comida Recepcionista";
    gap: 10px;
  }
  
  .Leeve__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .Leeve__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .Leeve__item:nth-of-type(1) {
    grid-area: Comida;
  }
  
  .Leeve__item:nth-of-type(2) {
    grid-area: Habitaciones;
  }
  
  .Leeve__item:nth-of-type(3) {
    grid-area: Recepcionista;
  }
  .Leeve__hover {
    position: absolute;
    background: #8945f780;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .Leeve__item:hover .Leeve__hover {
    transform: translateX(0%);
  }
  
  .Leeve__icon {
    margin: 10px;
    font-size: 30px;
  }
  #ver {
    color: var(--color-blanco);
  }